<h1 class="page-title">Instellingen</h1>

<div class="card-container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Email addressen met prioriteit</mat-card-title>
      <mat-card-subtitle>Meldingen die komen van een gebruiker met een email addres dat eindigt met een waarde die in
        deze
        lijst zit, zullen een prioriteits label krijgen.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <settings-priority-emails></settings-priority-emails>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Standaard problemen</mat-card-title>
      <mat-card-subtitle>Wanneer iemand een probleem rapporteerd krijgen ze een lijst met standaard problemen te zien.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <settings-default-issues></settings-default-issues>
    </mat-card-content>
  </mat-card>

  <div class="card-container">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Verboden e-mailadressen</mat-card-title>
        <mat-card-subtitle>Meldingen die komen van een gebruiker met een e-mail adres uit deze lijst worden geblokkeerd.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <settings-blacklist-emails></settings-blacklist-emails>
      </mat-card-content>
    </mat-card>
  </div>