<!--
<div id="site-wrapper">
    <div id="side-bar">
        <div id="side-bar-top">
            <div id="nav-logo">
                <h1>SIGNAwel</h1>
            </div>
            <ul class="nav-list">
                <li class="nav-item">
                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/determination-graph" routerLinkActive="active">Determinatie grafiek</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/determination-endpoints">Determinatie schema's</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/determination-endpoints/1">Temp</a>
                </li>
            </ul>
        </div>
        <div id="side-bar-bottom">
            <ul class="nav-list">
                <li class="nav-item accent">
                    <a href="#">Uitloggen</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main-content">
        <router-outlet></router-outlet>
    </div>
</div>
-->
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [mode]="(isHandset | async)!.matches ? 'over': 'side'"
        [opened]="!(isHandset | async)!.matches">

        <mat-toolbar color="primary">Signawel</mat-toolbar>

        <mat-nav-list>
            <a mat-list-item routerLink="/" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Home</a>
            <a mat-list-item routerLink="/determination-graph" routerLinkActive="active">Determinatie grafiek</a>
            <a mat-list-item routerLink="/determination-endpoints" routerLinkActive="active">Determinatie schema's</a>
        </mat-nav-list>

        <mat-nav-list style="position: absolute;bottom: 0;left: 0;right: 0;">
            <a mat-list-item (click)="logout()">Afmelden</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
        </mat-toolbar>
        <div class="side-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>