<div id="site-wrapper">
    <div id="side-bar">
        <div id="side-bar-top">
            <div id="nav-logo">
                <h1>SIGNAwel</h1>
            </div>
            <ul class="nav-list">
                <li class="nav-item">
                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/determination-graph" routerLinkActive="active">Determinatie grafiek</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/determination-graph/determination-endpoint/determination-endpoint-detail">Determinatie endpoint detail</a>
                </li>
            </ul>
        </div>
        <div id="side-bar-bottom">
            <ul class="nav-list">
                <li class="nav-item accent">
                    <a href="#">Uitloggen</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main-content">
        <router-outlet></router-outlet>
    </div>
</div>