<mat-form-field>
  <input matInput placeholder="Naam" [(ngModel)]="roadworkSchema.name">
</mat-form-field>

<div>
  <input #fileUpload type="file" (change)="imageChanged($event)" style="display: none;" />
  <button mat-flat-button (click)="fileUpload.click()" [color]="roadworkSchema.imageId ? '' : 'primary'">Kies een<span
      *ngIf="roadworkSchema.imageId"> andere</span>
    afbeelding</button>
  <br>
  <mat-form-field>
    <mat-label>Categorie</mat-label>
    <mat-select [(value)]="roadworkSchema.roadworkCategory">
      <mat-option value="NoCategory">Alle categorieën</mat-option>
      <mat-option value="Category1">Categorie 1</mat-option>
      <mat-option value="Category2">Categorie 2</mat-option>
      <mat-option value="Category3">Categorie 3</mat-option>
      <mat-option value="Category4">Categorie 4</mat-option>
      <mat-option value="Category5">Categorie 5</mat-option>
      <mat-option value="Category6">Categorie 6</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div fxLayout='row' [ngStyle]="{'display': getImageUrl() != '' ? 'block' : 'none'}">
  <div fxFlex="70" class="output" (click)="clicked($event)" oncontextmenu="return false;">
    <img #schema [src]="getImageUrl()" (load)="render()" alt="schema">
    <div #pointOutput></div>
    <svg #linesOutput class="line-output"></svg>
  </div>

  <determination-boundingbox-list fxFlex="30" (onNameChanged)="changeBoundingBoxName($event)"
    (onRemoved)="removeBoundingBox($event)" [finishedBoundingBoxes]="roadworkSchema.boundingBoxes">
  </determination-boundingbox-list>
</div>