$bg-color: #ecf0f1
$bg-color-dark: #34495e
$bg-color-light-dark: #2c3e50
$bg-color-accent: #2ba8fc

$page-title-color: #3b3b3b
$page-title-border: 1px solid #6e6e6e

$navbar-bg-color: $bg-color-dark
$navbar-logo-border-color: lighten($bg-color-dark, 4%)
$navbar-nav-item-bg-color: darken($bg-color-dark, 2%)
$navbar-nav-item-bg-color-hover: $bg-color-light-dark
$navbar-nav-item-bg-color-active: darken($bg-color-light-dark, 2%)
$navbar-nav-item-accent-bg-color: $bg-color-accent
$navbar-nav-item-accent-bg-color-hover: darken($bg-color-accent, 5%)

$button-bg-color: lighten($bg-color-accent, 5%)
$button-color: white