<h1 class="page-title">Determinatie schema's</h1>

<!--
<bbar>
  <bbar-button bbar-start text="Toevoegen" color="primary" (click)="onNewClicked()"></bbar-button>
</bbar>
-->

<mat-form-field>
  <input matInput placeholder="Zoeken" #searchInput>
</mat-form-field>

<div class="spinner-container" *ngIf="listData.loading$ | async">
  <mat-spinner></mat-spinner>
</div>

<mat-table [dataSource]="listData" matSort matSortActive="seqNo" matSortDirection="asc" matSortDisableClear>

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null"
        [checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Naam</mat-header-cell>
    <mat-cell class="name-cell" *matCellDef="let element">{{ element.name }}</mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button mat-icon-button (click)="createNew()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <!-- {{ element.id }} -->
      <button mat-icon-button (click)="doEdit(element)">
        <mat-icon>open_in_new</mat-icon>
      </button>
      <button mat-icon-button (click)="delete(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [length]="listData.total" [pageSize]="15" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>

<blade-modal id="schemaEditor" modalTitle="Bewerk determinatie schema" [closeButton]="false"
  (modalClose)="onModalClose($event)">

  <app-determination-endpoint-detail [roadworkSchema]="selectedRoadworkSchema" *ngIf="selectedRoadworkSchema">
  </app-determination-endpoint-detail>

  <div style="position:absolute; bottom:20px;left:20px;right:20px;">
    <bbar>
      <bbar-button bbar-end text="Annuleren" (click)="onSchemaEditorCancel()" color="secondary"></bbar-button>
      <bbar-button bbar-end text="Opslaan" (click)="onSchemaEditorSave()" color="secondary"></bbar-button>
    </bbar>
  </div>
</blade-modal>