$material-icons-font-path: '~material-icons/iconfont/'
@import '~material-icons/iconfont/material-icons.scss'

@import 'variables'
@import 'blade-modal'
@import 'form'

*
    font-family: 'Roboto', sans-serif
    box-sizing: border-box

html, body
    margin: 0
    height: 100%
    width: 100%

body
    background-color: #ecf0f1

.page-title
    margin: 0
    margin-bottom: 15px
    padding-bottom: 4px
    border-bottom: $page-title-border
    color: $page-title-color