<div mat-dialog-content>

  <form [formGroup]="form" #ReportGroupForm="ngForm">
    <p style="font-style: oblique;">steden:</p>
    <div formArrayName="cityControls" *ngFor="let order of form.controls.cityControls.controls; let i = index"
      class="form-row">
      <mat-form-field>
        <mat-grid-list cols="2" rowHeight="5:1">
          <mat-grid-tile>
            <mat-select [formControlName]="i">
              <mat-option *ngFor="let cityName of cities" [value]="cityName.name">
                {{cityName.name}}
              </mat-option>
            </mat-select>
          </mat-grid-tile>
          <mat-grid-tile><button mat-icon-button *ngIf="form.controls.cityControls.length>1"
              (click)="RemoveCityFromForm(i)">
              <mat-icon>delete_outline</mat-icon>
            </button></mat-grid-tile>
        </mat-grid-list>
        <mat-error *ngIf="form.controls.cityControls.controls[i].errors?.required && (form.controls.cityControls.controls[i].dirty || form.controls.cityControls.controls[i].touched)">
          Selecteer een stad
        </mat-error>
      </mat-form-field>
    </div>

    <div class="veryLittleWhiteSpace"></div>

    <button mat-raised-button *ngIf="form.controls.cityControls.controls.length <42" (click)="addCity()">Voeg een stad toe</button>
    <div class="whiteSpace"></div>

    <div class="emailInputs">
      <div formArrayName="emailControls" *ngFor="let order of form.controls.emailControls.controls; let i = index"
        class="form-row">
        <mat-form-field>
          <mat-grid-list cols="2" rowHeight="5:1">
            <mat-grid-tile><input matInput placeholder="emailadres" type="email" [formControlName]="i"
                name="emailInput"></mat-grid-tile>
            <mat-grid-tile *ngIf="i>0"><button mat-icon-button (click)="RemoveEmailFromForm(i)">
                <mat-icon>delete_outline</mat-icon>
              </button></mat-grid-tile>
          </mat-grid-list>
          <mat-error *ngIf="form.controls.emailControls.controls[i].errors?.required && (form.controls.emailControls.controls[i].dirty || form.controls.emailControls.controls[i].touched)">
            Gelieve alle verplichte velden in te vullen
          </mat-error>
          <mat-error *ngIf="form.controls.emailControls.controls[i].errors?.email && (form.controls.emailControls.controls[i].dirty || form.controls.emailControls.controls[i].touched)">
            E-mailadres is ongeldig
          </mat-error>
        </mat-form-field>
      </div>

      <div class="veryLittleWhiteSpace"></div>

      <button mat-raised-button *ngIf="form.controls.cityControls.controls.length <20" (click)="addEmail()">Voeg een emailadres toe</button>
      <div class="whiteSpace"></div>
    </div>

    <div formArrayName="userControls" *ngFor="let order of form.controls.userControls.controls; let i = index"
      class="form-row">
      <mat-form-field>
        <mat-grid-list cols="2" rowHeight="5:1">
          <mat-grid-tile>
            <input placeholder="User" type="search" matInput [formControlName]="i"
                    [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let userName of filteredUserOptions[i]" [value]="userName">
                      {{ userName }}
                    </mat-option>
                  </mat-autocomplete>
          </mat-grid-tile>
          <mat-grid-tile><button mat-icon-button *ngIf="form.controls.userControls.length>1 && !isUserLoading"
              (click)="RemoveUserFromForm(i)">
              <mat-icon>delete_outline</mat-icon>
            </button>
            <div class="spinner-container" *ngIf="isUserLoading">
            <mat-spinner [diameter]="15"></mat-spinner>
          </div>
        </mat-grid-tile>
        </mat-grid-list>
        <mat-error *ngIf="form.controls.userControls.controls[i].errors?.required && (form.controls.userControls.controls[i].dirty || form.controls.userControls.controls[i].touched)">
          Selecteer een user
        </mat-error>
      </mat-form-field>
    </div>
    <div class="veryLittleWhiteSpace"></div>

    <button mat-raised-button *ngIf="form.controls.cityControls.controls.length <50" (click)="addUser()">Voeg een user toe</button>
    <div class="whiteSpace"></div>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [disabled]="!ReportGroupForm.valid" (click)="saveData()">Opslaan</button>
</div>