<div class="question-node" *ngIf="model && roadworkSchemas">

  <div class="node" [ngClass]="model.type">
    <span *ngIf="model.type == 'Question'">{{ model.question }}</span>
    <span *ngIf="model.type == 'EndPoint'">{{ displayRoadworkSchemaName(model.schemaId) }}</span>
    <span *ngIf="model.type != 'Question' && model.type != 'EndPoint'">???</span>

    <div class="edit" *ngIf="editing" (click)="edit()">
      <span class="material-icons">create</span>
    </div>
  </div>

  <div class="answers" *ngIf="model.type == 'Question'">
    <div class="answer" *ngFor="let answer of model.answers; last as isLast;">
      <div class="answer-details">

        <div class="border-div" style="width: 33.33%;">
          <div class="border-div" style="flex: 1">
          </div>
          <div class="border-div vertical" style="flex: 1">
            <div class="border-div left bottom" style="height: 30px;"></div>
            <div class="border-div" style="flex: 1;" [ngClass]="{ 'left': !isLast }"></div>
          </div>
        </div>

        <div class="border-div" style="flex: 1;">
          <p style="text-align: center; width: 100%; padding-top: 4px;">{{ answer.answer }}</p>
        </div>

        <div class="border-div vertical" style="flex: 1; max-width: 15px;">
          <div class="border-div bottom" style="height: 30px;"></div>
          <div class="border-div" style="flex: 1;"></div>
        </div>

      </div>
      <div class="next-node">
        <graph-question-node [model]="answer.node" *ngIf="answer.node" [editing]="editing"
          [roadworkSchemas]="roadworkSchemas"></graph-question-node>
      </div>
    </div>
  </div>
</div>

<blade-modal [id]="modalId" modalTitle="Bewerk determinatie node" [closeButton]="true"
  (modalClose)="onModalClose($event)">

  <div class="edit-form">
    <mat-form-field style="width: 100%">
      <mat-select placeholder="Type node" [(ngModel)]="model.type">
        <mat-option value="Question">Vraag</mat-option>
        <mat-option value="EndPoint">Eind punt</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="question-node-form" *ngIf="model.type == 'Question'">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Vraag" name="question" type="text" [(ngModel)]="model.question">
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <!--<input matInput placeholder="Extra info" name="question" type="text" [(ngModel)]="model.question"> -->
        <textarea matInput placeholder="Extra info" name="question" type="text"
          [(ngModel)]="model.questionDescription"></textarea>
      </mat-form-field>

      <div class="modal-answers">
        <div class="modal-answer" *ngFor="let answer of model.answers; let index = index">
          <div class="index">
            #{{ index + 1 }}
          </div>
          <div class="text">
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Antwoord" type="text" [(ngModel)]="answer.answer">
            </mat-form-field>
          </div>
          <div class="delete" (click)="modalDeleteAnswerClicked(index)">
            <span class="material-icons">close</span>
          </div>
        </div>
        <div class="modal-answer" style="cursor: pointer" (click)="modalAddAnswerClicked()">
          <div class="index">
            <span class="material-icons">add</span>
          </div>
          <div class="text">
            Antwoord toevoegen
          </div>
        </div>
      </div>
    </div>

    <div class="end-point-node-form" *ngIf="model.type == 'EndPoint'">
      <mat-form-field style="width: 100%">
        <mat-select placeholder="Werk schema" [(ngModel)]="model.schemaId">
          <mat-option *ngFor="let schema of roadworkSchemas" [value]="schema.id">{{ schema.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!--
      <form [formGroup]="roadworkSchemaForm">
        <mat-form-field style="width:  100%;">
          <input matInput placeholder="Werk schema" [matAutocomplete]="auto" [(ngModel)]="model.schemaId">
        </mat-form-field>
        
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayRoadworkSchemaName">
          <mat-option *ngIf="isLoading" class="is-loading">
            <mat-spinner diameter="50"></mat-spinner>
          </mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let rws of filteredRoadworkSchemas" [value]="rws">
              <span>{{ rws.name }}</span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </form>
        -->
    </div>
  </div>

</blade-modal>