<div class="question-node" *ngIf="model">

  <div class="node" [ngClass]="model.type">
    <span *ngIf="model.type == 'Question'">{{ model.question }}</span>
    <span *ngIf="model.type == 'EndPoint'">{{ model.schemaId }}</span>
    <span *ngIf="model.type != 'Question' && model.type != 'EndPoint'">???</span>

    <div class="edit" *ngIf="editing" (click)="edit()">
      <span class="material-icons">create</span>
    </div>
  </div>

  <div class="answers" *ngIf="model.type == 'Question'">
    <div class="answer" *ngFor="let answer of model.answers; last as isLast;">
      <div class="answer-details">

        <div class="border-div" style="width: 33.33%;">
          <div class="border-div" style="flex: 1">
          </div>
          <div class="border-div vertical" style="flex: 1">
            <div class="border-div left bottom" style="height: 30px;"></div>
            <div class="border-div" style="flex: 1;" [ngClass]="{ 'left': !isLast }"></div>
          </div>
        </div>

        <div class="border-div" style="flex: 1;">
          <p style="text-align: center; width: 100%; padding-top: 4px;">{{ answer.answer }}</p>
        </div>

        <div class="border-div vertical" style="flex: 1; max-width: 15px;">
          <div class="border-div bottom" style="height: 30px;"></div>
          <div class="border-div" style="flex: 1;"></div>
        </div>

      </div>
      <div class="next-node">
        <graph-question-node [model]="answer.node" *ngIf="answer.node" [editing]="editing"></graph-question-node>
      </div>
    </div>
  </div>
</div>

<blade-modal [id]="modalId" modalTitle="Bewerk determinatie node" [closeButton]="true"
  (modalClose)="onModalClose($event)">

  <div class="edit-form">
    <div class="form-group">
      <label for="type">Node type: </label>
      <select name="type" id="typeSelect" [(ngModel)]="model.type">
        <option value="Question">Vraag</option>
        <option value="EndPoint">Eind punt</option>
      </select>
    </div>

    <div class="form-divider"></div>

    <div class="question-node-form" *ngIf="model.type == 'Question'">
      <div class="form-group">
        <label for="question">Vraag:</label>
        <input name="question" type="text" [(ngModel)]="model.question">
      </div>
      <div class="modal-answers">
        <div class="modal-answer" *ngFor="let answer of model.answers; let index = index">
          <div class="index">
            #{{ index + 1 }}
          </div>
          <div class="text">
            <input type="text" [(ngModel)]="answer.answer">
          </div>
          <div class="delete" (click)="modalDeleteAnswerClicked(index)">
            <span class="material-icons">close</span>
          </div>
        </div>
        <div class="modal-answer" style="cursor: pointer" (click)="modalAddAnswerClicked()">
          <div class="index">
            <span class="material-icons">add</span>
          </div>
          <div class="text">
            Antwoord toevoegen
          </div>
        </div>
      </div>
    </div>

    <div class="end-point-node-form" *ngIf="model.type == 'EndPoint'">
      end point
    </div>
  </div>

</blade-modal>