<div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading">
    <div class="input-row">
        <mat-form-field class="add-field">
            <input matInput type="text" placeholder="example@example.com" [(ngModel)]="newEmail">

            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="newEmail=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <button mat-icon-button class="add-button" aria-label="Blacklist e-mail  toevoegen"
            matTooltip="Email blacklisten" matTooltipPosition="above" (click)="addBlacklistEmail()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <mat-list>
        <mat-list-item *ngFor="let email of blacklistEmails">
            <h3 matLine>{{ email.email }}</h3>
            <button mat-icon-button class="remove-button" aria-label="Blacklisted e-mail verwijderen"
                [matTooltip]="email.email + ' verwijderen'" matTooltipPosition="above"
                (click)="removeBlacklistedEmail(email.id)">
                <mat-icon>clear</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
</div>